body{
    background-color: rgb(235, 235, 235);
}
.form-content{
text-align: center;
    background-color:white;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 70px;
    padding-top: 20px;
    color:rgba(24, 22, 22, 0.644);


}
.form-inputs{
    padding-bottom: 20px;

}

h1{
    margin-bottom: 40px;
    color:#0580cc;
    text-align: center;
}

.logincss{
    text-align: center;
    background-color:white;
  margin-left: 260px;
  margin-right: 260px;
    padding-bottom: 70px;
    padding-top: 10px;
    color:black;


}
p{
color: brown;
}